/* General  */
.bg-indoexpat {
    background-color: #d00;
}
/* Topbar  */
#ie_topbar .date {
    font-size: 14px;
    font-color: white;
    padding-top: 8px;
}
.sosmed ul.nav li.nav-item a {
    font-size: 14px;
    color: white; 
    padding-top: 12px;
}
.sosmed ul.nav li.nav-item a:hover {
    font-size: 14px;
    color: red; 
}
.topnav ul.nav li.nav-item a {
    font-size: 14px;
    color:white ;
}
.topnav ul.nav li.nav-item a:hover {
    font-size: 14px;
    color:red ;
}
/* Header  */
/* Navbar  */
a.nav-link.active.fa.fa-home {
    color: white;
    padding-top: 10px;
}
a.nav-link {
    color: white;
    font-weight: bold;
}
ul.fa.fa-search {
    color: white;
    padding-top: 12px;
}
/* Hero */
/* Main General  */
/* Main Left */
/* Main Center  */
/* Main Right  */
/* Main Bottom General  */
/* Main Bottom Left  */
/* Main Bottom Right  */
/* Footer  */
.bg-footer {
    background-color: rgb(27, 27, 27);
}
.bg-copyright {
    background-color: black;
}
/* Copyright  */



